mat-card{
    margin: 0 15px 10px 15px;
}
mat-card-content{
    text-align: left;
}
mat-card:nth-child(1){
    margin-top:10px;
}

.mat-card-actions{
    display:flex;
    justify-content: center
}
.mat-card-actions .mat-button{
    margin:0;

}