<h2 mat-dialog-title>Manage Schedules</h2>
<mat-dialog-content class="mat-typography">
  <mat-tab-group (selectedTabChange)="onChange()">
    <mat-tab label="Add">
      <form [formGroup]="newScheduleForm" (ngSubmit)="onSubmitAdd()">
        <mat-form-field appearance="outline">
          <mat-label>Choose a date</mat-label>
          <input
            formControlName="Date"
            matInput
            [matDatepickerFilter]="myFilter"
            [matDatepicker]="picker"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Choose time</mat-label>
          <input formControlName="Time" matInput type="time" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Select class</mat-label>
          <mat-select formControlName="Class">
            <mat-option *ngFor="let class of classes" [value]="class.Id">
              {{ class.Name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Select classroom</mat-label>
          <mat-select formControlName="Classroom">
            <mat-option
              *ngFor="let classroom of classrooms"
              [value]="classroom.Id"
            >
              {{ classroom.Name }} - Capacity: {{ classroom.Capacity }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!newScheduleForm.valid"
        >
          Submit
        </button>
      </form>
    </mat-tab>

    <mat-tab label="Update">
      <form [formGroup]="updateScheduleForm" (ngSubmit)="onSubmitUpdate()">
        <mat-form-field appearance="fill">
          <mat-label>Schedule to update</mat-label>
          <mat-select
            formControlName="Id"
            (selectionChange)="onSelectScheduleToUpdate($event)"
          >
            <mat-option *ngFor="let schedule of schedules" [value]="schedule">
              {{ schedule.Class.Name }} <i>at </i>
              {{ schedule.DateTime | date: "d/MM/yy HH:mm" }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-divider></mat-divider>
        <div class="updateForm" *ngIf="isSelectedScheduleToUpdate">
          <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input
              formControlName="Date"
              matInput
              [matDatepickerFilter]="myFilter"
              [matDatepicker]="picker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Choose time</mat-label>
            <input formControlName="Time" matInput type="time" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Select class</mat-label>
            <mat-select
              (selectionChange)="onSelectClassToUpdate($event)"
              formControlName="Class"
            >
              <mat-option *ngFor="let class of classes" [value]="class.Id">
                {{ class.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Select classroom</mat-label>
            <mat-select
              (selectionChange)="onSelectClassroomToUpdate($event)"
              formControlName="Classroom"
            >
              <mat-option
                *ngFor="let classroom of classrooms"
                [value]="classroom.Id"
              >
                {{ classroom.Name }} - Capacity: {{ classroom.Capacity }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!updateScheduleForm.valid"
          >
            Update
          </button>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Delete">
      <form [formGroup]="deleteScheduleForm" (ngSubmit)="onSubmitDelete()">
        <mat-form-field appearance="fill">
          <mat-label>Schedule to delete</mat-label>
          <mat-select
            formControlName="Id"
            (selectionChange)="onSelectScheduleToDelete($event)"
          >
            <mat-option *ngFor="let schedule of schedules" [value]="schedule">
              {{ schedule.Class.Name }} <i>at </i>
              {{ schedule.DateTime | date: "d/MM/yy HH:mm" }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button
          mat-stroked-button
          color="warn"
          type="submit"
          [disabled]="!isSelectedScheduleToDelete"
        >
          Delete
        </button>
      </form>
    </mat-tab>
    <mat-tab label="Manage reservations">
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Schedule to manage</mat-label>
          <mat-select (selectionChange)="onSelectScheduleToManage($event)">
            <mat-option *ngFor="let schedule of schedules" [value]="schedule">
              {{ schedule.Class.Name }} <i>at </i>
              {{ schedule.DateTime | date: "d/MM/yy HH:mm" }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <mat-divider></mat-divider>
      <div class="manageForm" *ngIf="isSelectedScheduleToManage">
        <p>Capacity : {{ currentCapacity }} / {{ classroomCapacity }}</p>
        <form
          [formGroup]="removeReservationsForm"
          (ngSubmit)="onRemoveReservation()"
        >
          <mat-form-field appearance="outline">
            <mat-label>Remove a reservation</mat-label>
            <mat-select formControlName="UserId">
              <mat-option *ngFor="let user of users" [value]="user.Id">
                {{ user.FirstName }} {{ user.LastName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="
              !isSelectedScheduleToManage || !removeReservationsForm.valid
            "
          >
            Remove
          </button>
        </form>
        <form [formGroup]="addReservationsForm" (ngSubmit)="onAddReservation()">
          <mat-form-field appearance="outline">
            <mat-label>Add a reservation</mat-label>
            <mat-select formControlName="UserId">
              <mat-option *ngFor="let user of otherUsers" [value]="user.Id">
                {{ user.FirstName }} {{ user.LastName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button
            *ngIf="currentCapacity < classroomCapacity"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="
              !isSelectedScheduleToManage || !addReservationsForm.valid
            "
          >
            Add
          </button>
          <button
            *ngIf="currentCapacity >= classroomCapacity"
            mat-raised-button
            color="warn"
            [disabled]="true"
          >
            Capacity is full.
          </button>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" (click)="close()">Close</button>
</mat-dialog-actions>
