<table color="primary" class="calendar">
  <thead>
    <tr>
      <th class="width10">
        {{ monday }} - {{ friday }} <br />
        <button
          mat-icon-button
          color="primary"
          (click)="onBackward()"
          [disabled]="weekNr == 0"
        >
          <mat-icon aria-hidden="false" aria-label="backward-icon"
            >arrow_back_ios</mat-icon
          >
        </button>
        <button mat-icon-button color="primary" (click)="onForward()">
          <mat-icon aria-hidden="false" aria-label="forward-icon"
            >arrow_forward_ios</mat-icon
          >
        </button>
      </th>
      <th class="width18"><div class="underline">Monday</div></th>
      <th class="width18"><div class="underline">Tuesday</div></th>
      <th class="width18"><div class="underline">Wednesday</div></th>
      <th class="width18"><div class="underline">Thursday</div></th>
      <th class="width18"><div class="underline">Friday</div></th>
    </tr>
  </thead>
</table>

<app-schedule-week [weekNr]="weekNr"></app-schedule-week>
