thead{
    vertical-align: middle;
}
.calendar{
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0;
}
.width10{
    width: 10%;
}
.width18{
    width: 18%;
}