.calendar{
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0;
    height: 100%;
    background: rgb(245,245,245);
    background: linear-gradient(180deg, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 100%);  
}
.width10{
    width: 10%;
}
.width18{
    width: 18%;
    padding: 10px 15px 10px 15px;
}
td{
    vertical-align: initial;
}

h2 {
    margin: 10px;
  }
mat-slide-toggle {
    margin: 10px;
  }
.mat-form-field{
    margin-top: 10px;
    display:initial;
}
.filter-form{
    padding-top:10px;
}