<h2 mat-dialog-title>Log In</h2>
<mat-dialog-content class="mat-typography">
  <mat-stepper orientation="vertical" #stepper>
    <mat-step>
      <ng-template matStepLabel>Select desired role</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Select role</mat-label>
        <mat-select
          (selectionChange)="roleChange($event)"
          [(ngModel)]="selectedRole"
          name="role"
        >
          <mat-option *ngFor="let role of roles" [value]="role">
            {{ role }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Select user</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Select user</mat-label>
        <mat-select
          [disabled]="!(selectedRole.length > 0)"
          [(ngModel)]="selectedUser"
          name="user"
        >
          <mat-option *ngFor="let user of usersByRole" [value]="user">
            {{ user.FirstName }} {{ user.LastName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="close()">Cancel</button>
  <button
    mat-button
    color="primary"
    [disabled]="selectedUser == undefined || null"
    (click)="logIn()"
  >
    Log In
  </button>
</mat-dialog-actions>
