.mat-toolbar-row, .mat-toolbar-single-row {
padding : 0 100px;
height: 130px;
justify-content: space-between;
}
.login{
    text-align: right;
    font: 300 18px/32px Roboto, "Helvetica Neue", sans-serif;
}
.control_buttons{
    display: flex;
    justify-content: space-around;
    text-align: center;
    vertical-align: middle;
}
mat-toolbar{
    //background: rgb(245,245,245);
    //background: linear-gradient(180deg, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 100%);
    background-color: #E8EAF6;
    color: #263238;
}
.margin-15{
    margin-right:15px;
}
.logo{
    max-width: 380px;
}
