.mat-toolbar-row, .mat-toolbar-single-row {
padding: 0 100px 0 0;
height: 130px;
justify-content: space-between;
}
.login{
    text-align: right;
    font: 300 18px/32px Roboto, "Helvetica Neue", sans-serif;
}
.control_buttons{
    display: flex;
    justify-content: space-around;
    text-align: center;
    vertical-align: middle;
    .blue-text{
        color: #3f51b5;
    }
}
.mat-menu-item{
    color: #1A237E;
}
.margin-15{
    margin-right:15px;
}
.logo{
    max-width: 380px;
}
